.formCard {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 75%;
}

.bgForm {
    background: linear-gradient(white, rgba(0,0,0,0.3), white), url(../media/internet-g1fb3b8482_1920.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.rating {
    font-size: 25px;
    overflow:hidden;
}

.rating a{
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float:none;
}

#productImg {
    height: 300px;
}

.productBcg {
    background: linear-gradient(135deg,#F83A26, #FFC344,#F83A26, #FFC344);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}